.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.photographer_main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photographer_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.photographer_info h1,
.photographer_info .photographer_location,
.photographer_info .photographer_tagline {
  margin: 0;
  padding: 5px 0;
}
.photographer_info h1 {
  color: #d3573c;
  font-size: 64px;
}
.photographer_info .photographer_location {
  font-size: 24px;
  color: #901c1c;
}
.photographer_info .photographer_tagline {
  font-size: 18px;
  color: #525252;
}

.photographer_img_container {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.photographer_img_container .photographer_portrait {
  height: 350px;
  width: auto;
  position: relative;
  top: 32px;
}
.photographer_img_container .photographer_portrait--ellie {
  position: relative;
  top: 0;
  right: 15px;
}
.photographer_img_container .photographer_portrait--tracy {
  position: relative;
  top: 0;
  left: 25px;
  height: 250px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.contact_button:hover, .contact_button:focus {
  color: black;
  background-color: #db8876;
}

.photograph-select {
  margin: 20px 100px;
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}
.photograph-select label {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.photographer_select {
  background-color: #901c1c;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 5px;
  padding: 10px;
}
.photographer_select__option:hover {
  background-color: #901c1c;
  opacity: 0.7;
}
.photographer_select__option:nth-last-child(-n+2) {
  border-top: solid 1px white;
}

.photograph-gallery {
  padding: 20px 100px;
}
.photograph-gallery__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 50px;
  /* justify-content: space-between; */
}

.photo-template {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}
.photo-template__photo {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.photo-template__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  color: #901c1c;
  font-size: 24px;
}
.photo-template__info .photo-template__title {
  text-align: left;
}
.photo-template__info .photo-template__like-container {
  display: flex;
  align-items: center;
  gap: 4px;
}
.photo-template__info .photo-template__like-count {
  color: #901c1c;
  font-size: 24px;
  font-weight: 500;
}
.photo-template__info .photo-template__like-button {
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-size: 18px;
  display: flex;
  align-items: center;
  border: none;
}
.photo-template__info .fa-heart {
  cursor: pointer;
  color: #901c1c;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.photograph-overlay {
  background-color: #db8876;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 376px;
  border-radius: 5px;
  position: fixed;
  right: 50px;
  font-size: 24px;
  font-weight: 500;
}
.photograph-overlay__like {
  display: flex;
  align-items: center;
  gap: 4px;
}
.photograph-overlay i {
  color: black;
  cursor: auto;
}

#contact_modal {
  display: none;
}

.bground {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(26, 39, 156, 0.4);
  overflow: auto;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  margin-top: 10px;
  animation-name: modalopen;
  animation-duration: 0.8s;
  max-width: 600px;
  overflow-y: auto;
}
.modal header {
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 50px;
}
.modal header img {
  cursor: pointer;
  margin-top: -78px;
}
.modal header h2 {
  font-size: 50px;
  font-weight: normal;
}
.modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.modal form label {
  color: #312e2e;
  font-size: 36px;
}
.modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 15px;
}
.modal form input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}
.modal form textarea {
  width: 100%;
  font-size: 24px;
  border: none;
  border-radius: 5px;
}

.input_container[data-error]::after {
  content: attr(data-error);
  font-size: 0.6em;
  color: #901c1c;
  display: block;
  text-align: left;
  line-height: 1;
  opacity: 0;
  transition: 0.3s;
}

.input_container[data-error-visible=true]::after {
  opacity: 1;
}

.input_container[data-error-visible=true] .text-control {
  border: 2px solid #901c1c;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
.lightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  margin: auto;
}
.lightbox__close {
  background: url(../assets/icons/close.svg) no-repeat center center/100% 100%;
  position: fixed;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
  border: none;
  z-index: 12;
}
.lightbox__close:focus {
  background: url(../assets/icons/closeFocus.svg) no-repeat center center/100% 100%;
}
.lightbox__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: auto;
}
.lightbox__media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightbox__media img,
.lightbox__media video {
  max-width: 100%;
  height: 80vh;
  object-fit: cover;
}
.lightbox__title {
  font-size: 24px;
  color: #901c1c;
  font-weight: bold;
  padding-left: 40px;
}
.lightbox__prev, .lightbox__next {
  background: url("../assets/icons/arrow.svg") no-repeat center center/30px 48px;
  position: fixed;
  top: 0;
  width: 50px;
  height: 100%;
  right: 0;
  margin-top: -14px;
  border: none;
  z-index: 11;
  transition: background 0.3s;
}
.lightbox__prev:focus, .lightbox__next:focus {
  background: url("../assets/icons/arrowFocus.svg") no-repeat center center/30px 48px;
}
.lightbox__prev {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}
.lightbox .lightbox__loader {
  width: 38px;
  height: 38px;
  opacity: 0.5;
  background: url(../assets/icons/loader.svg) no-repeat center center;
}
.lightbox button {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

:focus {
  outline: 3px solid #d3573c;
  outline-offset: 2px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

main {
  margin-bottom: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  text-align: center;
}
.photographer_section article img {
  height: 350px;
  width: auto;
  position: relative;
  top: 32px;
}
.photographer_section article .photographer_card__img {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.photographer_section article .photographer_card__img--ellie {
  position: relative;
  top: 0;
  right: 15px;
}
.photographer_section article .photographer_card__img--tracy {
  position: relative;
  top: 0;
  left: 25px;
  height: 250px;
}
.photographer_section article .photographer_card__name {
  color: #d3573c;
  font-size: 36px;
  margin: 20px 0 0 0;
}
.photographer_section article .photographer_card__location {
  margin: 0 0 3px 0;
  font-size: 13px;
  color: #901c1c;
}
.photographer_section article .photographer_card__tagline {
  margin: 0 0 3px 0;
  font-size: 10px;
}
.photographer_section article .photographer_card__price {
  color: #757575;
  font-size: 9px;
}

/*# sourceMappingURL=style.css.map */
